.categories-list > .list-item {
	text-decoration: none;
	color: #212529;
	display: block;
	cursor: pointer;
	transition: 150ms;
}

.categories-list > .list-item:hover {
	transform: scale(1.15) translate(10%, 5%);
}

.categories-list > .list-item:not(:first-child) {
	margin: 1rem 0;
}

#cartModal .list-group-item {
	display: flex;
	justify-content: space-between;
}

#cartModal .list-group-item i:hover {
	cursor: pointer;
}

.gallery-item {
	width: 18rem;
}

.gallery-item .item-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
